<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>v-model指令</title>
    <script src="https://cdn.bootcss.com/vue/2.3.4/vue.js"></script>
</head>

<body>
    <div id="app">
        {{fruit}}
        <!-- 观测数据变化 -->
        <my-radio v-model="fruit" value="apple" name="myFruit"></my-radio><!-- 下行注释的语法糖 -->
        <!-- <my-radio :checked="fruit" @change="val => {fruit = val}" value="apple"></my-radio> -->

        <my-radio v-model="fruit" value="peach" name="myFruit"></my-radio><!-- 下行注释的语法糖 -->
        <!-- <my-radio :checked="fruit" @change="val => {fruit = val}" value="peach"></my-radio> -->
    </div>
    <script>
        Vue.component('my-radio', {
            template: '<div><span>{{value}}</span><input :name="name" type="radio" ref="radio" :checked="checked===value" @change="doThis" :value="value"/></div>',
            model: {
                prop: 'checked',
                event: 'change'
            },
            props: {
                checked: String,
                value: String,
                name: String
            },
            methods: {
                doThis() {
                    this.$emit('change', this.$refs.radio.value);
                }
            }
        });
        new Vue({
            el: '#app',
            data: {
                fruit: 'peach'//数据
            }
        });
    </script>
</body>